build

Drivers

Makefile
Core/Inc/rom_info.h
Core/Inc/gittag.h
roms
sd_content

release

.mxproject

saveflash.ld

rom_hashes.txt

linux/loaded_gb_rom.c
linux/loaded_nes_rom.c
linux/loaded_o2em_rom.c
linux/loaded_a2600_rom.c
linux/loaded_pkmini_rom.c
linux/loaded_gwenesis_rom.c

save_states

venv

**/.DS_Store

**/*.pyc

.vs/*
.vscode/*
*.bin
.gdbinit
screenshot.png
/backup
.clang-format
.idea/
cmake-build-debug
.gitignore.local
choices.yaml
build-error.log
